<% include ../partials/header %>
<div class="container">
  <div class="jumbotron card card-image p-1 mt-3">
    <div class="text-center py-4 px-4">
      <div>
        <h2 class="card-title h1-responsive mb-5 font-bold"><strong>Blog Post</strong></h2>
        <p class="mx-5 mb-5">A blog is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries (posts).</p>
        <a class="btn btn-md btn-primary"><i class="fas fa-clone left"></i> Add New Blog</a>
      </div>
    </div>
  </div>
  <% if(blogPosts.length !== 0) { %>
    <% blogPosts.forEach(blog => { %>
      
      <div class="jumbotron text-center hoverable p-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom">

        <div class="row">

          <div class="col-md-4 offset-md-1 mx-3 my-3">

            <div class="view overlay">
              <img src="<%= blog.image %>" class="img-fluid" alt="<%= blog.name %>">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

          </div>
          <div class="col-md-7 text-md-left ml-3 mt-3">
            <a href="#!" class="green-text">
              <h6 class="h6 pb-1"><i class="fas <%= categoryIcons[blog.category] %> pr-1"></i> <%= blog.category %></h6>
            </a>

            <h4 class="h4 mb-4"><%= blog.name %></h4>

            <p class="font-weight-normal">
              <%= blog.description.substr(0, 100) %>
              <% if (blog.description.length > 100) { %>
                ...
              <% } %>
            </p>
            <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>

            <a href="/blogs/<%= blog._id %>" class="btn btn-success">Read more</a>

          </div>

        </div>

      </div>
    <% }) %>
  <% } else { %>
    <h1 class="text-center">No Blogs available</h1>
  <% } %>
</div>
<% include ../partials/footer %>
