<% include ../partials/header %>
    <div class="container">
        <div class="jumbotron text-center">
        <h4 class="card-title h4 pb-2"><strong><%= foundBlog.name %></strong></h4>
        <div class="view overlay my-4">
            <img src="<%= foundBlog.image %>" class="img-fluid" alt="<%= foundBlog.name %>">
            <a href="#">
            <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <h5 class="indigo-text h5 mb-4"><i class="fas <%= categoryIcon %>"></i> <%= foundBlog.category %></h5>

        <p class="card-text"><%- foundBlog.description %></p>
        </div>
    </div>
<% include ../partials/footer %>